.movie {
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	resize: none;
	/* transition: transform .2s !important; Animation */
	margin: 0 auto;
	  
	  
}
.movie:hover {
	/* transform: scale(1.2) !important; (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.mrgin{
	margin-top: 180px;
	font-family: 'Roboto', sans-serif;
}

.movie-content {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

.movie-content > div {
    margin:20px;
}

.movie-button{
	margin-top: -16px !important;
	padding: 5px !important;
}
 .movie-button:hover{
	background-color: pink !important;
 }

.btn-block{
	width: 15%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #e4e0e0;
}

#content {
	background-image: url("https://cdn.pixabay.com/photo/2014/11/30/17/15/theater-551797__340.jpg");
	background-color: #181818;
	background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-top: 0px;
	font-family: 'Noto Sans JP', sans-serif;
}

#details {
	margin-left: 50px;
}


.footer {
	color: #e4e0e0;
	text-align:right;
	position: fixed;
 	bottom: 20px;
 	right: 20px;
 	width: 100%;
}

h1 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #e50914;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: #000000 0px 0px 13px;
 }



@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

#autoComplete {
  background-position: 98% ;
  /* transition: transform .2s !important; Animation */
  margin: 0 auto;
}
#autoComplete:hover {
	/* transform: scale(1.2) !important; (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

#name {
	color: white;
	padding: 1px;
}

h6 {
    margin-bottom: 20px;  
}

@media only screen and (max-width: 650px) {
    #mcontent {
      display: block;
    }
    .poster-lg {
      display: none;
    }
    #details {
		margin-left: 30px;
	}
    #loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 40%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

	#autoComplete {
	  background-position: 97% ;
	  /* transition: transform .2s !important; Animation */
	  margin: 0 auto;
	}
	#autoComplete:hover {
		/* transform: scale(1.2) !important; (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	  }
	
	svg[data-toggle=tooltip] {
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 991px) {
	.modal-body{
		display: block;
	}
	.profile-pic {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 992px) {
	.modal-body {
		display: flex;
	}
}

@media only screen and (min-width: 651px) {
  .poster-sm {
    display: none;
   }

	#mcontent {
		display: flex;
		flex-wrap: nowrap;
	}

	#loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 20%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

}

.poster{
    -webkit-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
}

.card:hover {
	cursor: pointer;
}

.castcard:hover {
    cursor: pointer;
}

.cast-img {
	filter: brightness(100%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
	transition: all 0.75s ease;
}


.cast-img:hover {
	filter: brightness(50%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: brightness(50%);
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
	opacity: 1;
	backdrop-filter:br;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
	border-radius: 20px;
}

.imghvr {
	position: relative;
}

.table td {
    border-color: white;
    border-style:solid; 
    border-width:1px;
}

.fail {
    display: none;
    color: white;
    margin-top: 300px;
}




  
  main#carousel {
	grid-row: 1 / 2;
	grid-column: 1 / 8;
	width: 100vw;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform-style: preserve-3d;
	perspective: 600px;
	--items: 5;
	--middle: 3;
	--position: 1;
	pointer-events: none;
  }
  
  div.item {
	position: absolute;
	width: 300px;
	height: 400px;
	--r: calc(var(--position) - var(--offset));
	--abs: max(calc(var(--r) * -1), var(--r));
	transition: all 0.25s linear;
	transform: rotateY(calc(-10deg * var(--r)))
	  translateX(calc(-300px * var(--r)));
	z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
	--offset: 1;
  }
  div.item:nth-of-type(2) {
	--offset: 2;
  }
  div.item:nth-of-type(3) {
	--offset: 3;
  }
  div.item:nth-of-type(4) {
	--offset: 4;
  }
  div.item:nth-of-type(5) {
	--offset: 5;
  }
  
  input:nth-of-type(1) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
	--position: 1;
  }
  
  input:nth-of-type(2) {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
	--position: 2;
  }
  
  input:nth-of-type(3) {
	grid-column: 4 /5;
	grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
	--position: 3;
  }
  
  input:nth-of-type(4) {
	grid-column: 5 / 6;
	grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
	--position: 4;
  }
  
  input:nth-of-type(5) {
	grid-column: 6 / 7;
	grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
	--position: 5;
  }
  

  .check-one {
	  margin-left: 720px !important;
  }
  .form-inline {
	  margin-left: 820px !important;
  }
  .mrginn {
	margin-left: -1023px !important;
    margin-top: 5px !important;
    font-size: 29px !important;
  }

  .form-groupp {
	margin-left: 845px !important;
    margin-top: -38px !important;
  }

  .movie-buttonn {
	  margin-left: 1390px !important;
	  margin-top: -60px !important;
  }